<section>
    <div id="viewBlogs" class="scrollspy">
        <h2 class="inputHeading">Blogs</h2>
        <% for (let i in blogs) { %>
            <article class="blog container">
                <a href="/<%= blogs[i].blogTitle %>">
                    <h3 id=title>
                        <%= blogs[i].blogTitle %>
                    </h3>
                </a>
                <p>
                    <%= blogs[i].blogContent %>
                </p>
            </article>
            <% } %>
    </div>
</section>