<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/materialize.css">
    <title>Blog</title>
</head>

<body>
    <h1 role="pageTitle" class="title">Admin</h1>
    <div class="row">
        <form class="col s12" method="POST" action="/admin">
            <div class="row">
                <h2 class="inputHeading">Create a new blogpost</h2>
                <div class="input-field col s6">
                    <input placeholder="Blog Title" name="blogTitle" id="blogTitle" type="text" class="validate" required>
                    <label for="blog_Title">Blog Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Blog Content" name="blogContent" id="blogContent" type="text" class="validate" required>
                    <label for="blog_Content">Blog Content</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Create Blog Post</button>
        </form>
    </div>
    <div>
        <h2 class="inputHeading">Blogposts</h2>
        <% for (let i in blogs) { %>
            <article>
                <a href="/<%= blogs[i].blogTitle %>">
                    <h1 id=title>
                        <%= blogs[i].blogTitle %>
                    </h1>
                </a>
                <p>
                    <%= blogs[i].blogContent %>
                </p>
            </article>
            <% } %>
    </div>
    <div>
        <h2 class="inputHeading">Delete a blogpost</h2>
        <input type="search" id="deleteBar">
        <button id="deleteBlog">Delete</button>
    </div>

    <a href="/">Back to Home</a>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/deleteBlog.js"></script>
</body>

</html>