<!DOCTYPE html>
<html>

<head>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="css/materialize.css">
    <!-- Import animate css -->
    <link rel="stylesheet" type="text/css" href="css/animations.css">
    <!-- Import my custom index stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Home</title>
</head>

<body>
    <!-- Start of header -->
    <header>
        <div class="row">
            <a href="/admin"><i class="fa fa-user-circle-o fa-3x"></i></a>
        </div>
    </header>
    <!-- End of header -->
    <!-- Start of banner -->
    <h1 role="title" class="title">Scribbl</h1>
    <!-- End of banner -->
    <% for (let i in blogs) { %>
        <article class="blogPost">
            <div class="blog">
                <a href="/<%= blogs[i].blogTitle %>">
                    <h2 id=title role="blog title">
                        <%= blogs[i].blogTitle %>
                            <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
                    </h2>
                </a>
                <p role="blog content" class="bcontent">
                    <%= blogs[i].blogContent %>
                </p>
                <div class="row">
                    <form class="col s12" method="POST" action="/">
                        <div class="row">
                            <div class="input-field col s6">
                                <input name="comment" id="comment" type="text" class="validate">
                                <input type="hidden" name="title" value="<%= blogs[i].blogTitle %>">
                                <label for="blog_Title"> Write a response ...</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action"> <i class="fa fa-comment-o" aria-hidden="true"></i>  Add Comment
                            </button>
                    </form>
        </article>
        </div>

        <% } %>
        </div>

            <!-- Input Footer Template -->
            <% include ./partials/footer %>
                <!--Import jQuery then materialize.js-->
                <script src="js/jquery-3.1.1.min.js"></script>
                <script src="js/materialize.js"></script>
                <!-- Import CSS animation script -->
                <script src="js/css3-animate-it.js"></script>
                <!-- Import Font Awesome script -->
                <script src="https://use.fontawesome.com/add6c7c4be.js"></script>
                <!-- Import my personal stylesheet -->
                <script src="js/deleteBlog.js"></script>
</body>

</html>