<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.css">
        <title>Blog</title>
    </head>
    <body>
        <h1>Blog Demo</h1>

        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
    </body>
</html>