<!DOCTYPE html>
<html>

<head>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="css/materialize.css">
    <!-- Import animate css -->
    <link rel="stylesheet" type="text/css" href="css/animations.css">
    <!-- Import my custom index stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>
        <%= blog.blogTitle %>
    </title>
</head>

<body>
    <!-- Start of header -->
    <header>
        <div class="row">
            <div class="col s6">
                <a href="/"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
            </div>
            <div class="col s6">
                <a href="/admin"><i class="fa fa-user-circle-o fa-3x"></i></a>
            </div>
        </div>
    </header>
    <!-- End of header -->

    <!-- Show all blog posts -->
    <!-- Blog title -->
    <h2 class="btitle">
        <%= blog.blogTitle %>
    </h2>
    <div>
        <article class="blog">
            <p class="bcontent">
                <%= blog.blogContent %>
            </p>
            <h3 class="bcomments">Comments</h3>
            <!-- for loop to show all blog comments for each blog -->
            <% for (let i in blog.comments) { %>
                <p>
                    <%= blog.comments[i].comment %>
                </p>
                <% } %>
        </article>
    </div>
    <!-- End of show all blog posts -->
    <!-- Input Footer Template -->
    <% include ./partials/footer %>
        <!--Import jQuery then materialize.js-->
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <!-- Import CSS animation script -->
        <script src="js/css3-animate-it.js"></script>
        <!-- Import Font Awesome script -->
        <script src="https://use.fontawesome.com/add6c7c4be.js"></script>
        <!-- Import my personal stylesheet -->
        <script src="js/deleteBlog.js"></script>
        <script src="js/style.js"></script>
</body>

</html>