<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/materialize.css">
    <title>Showing blog list</title>
</head>

<body>
    <h1 role="title" class="title">Showing blog list</h1>
    <div>
        <article>
            <h2 class="btitle">
                <%= blog.blogTitle %>
            </h2>
            <p class="bcontent">
                <%= blog.blogContent %>
            </p>
            <h2 class="bcomments">Comments</h2>
                <p>
                    <%= blog.comments %>
                </p>
        </article>
    </div>
    <a href="/admin">Admin</a>
    <a href="/">Home</a>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
</body>

</html>