<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/materialize.css">
    <title>Showing blog list</title>
</head>

<body>
    <h1>Showing blog list</h1>
    <div>
            <article>
                <h1>
                    <%= blog.blogTitle %>
                </h1>
                <p>
                    <%= blog.blogContent %>
                </p>
                <p>

                    <%= blog.comments %>

                </p>
            </article>
    </div>
    <a href="/admin">Admin</a>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
</body>

</html>