<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.css">
        <title>Showing blog list</title>
    </head>
    <body>
        <h1>Showing blog list</h1>
        <div>
            <% for (let i in blogs) { %>
                <article>
                    <h1><%= blogs[i].blogTitle %></h1>
                    <p><%= blogs[i].blogContent %></p>
                </article>
            <% } %> 
        </div>
        <a href="/admin">Admin</a>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
    </body>
</html>